/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        new_behavior: new_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <120>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q        &kp W           &kp F             &kp P           &kp G        &kp J    &kp L            &kp U              &kp Y            &kp SEMICOLON  &none
&none  &mt LCTRL A  &mt LEFT_ALT R  &mt LEFT_SHIFT S  &mt LEFT_GUI T  &kp D        &kp H    &mt RIGHT_GUI N  &mt RIGHT_SHIFT E  &mt RIGHT_ALT I  &mt RCTRL O    &none
&none  &lt 2 Z      &kp X           &kp C             &kp V           &kp B        &kp K    &kp M            &kp COMMA          &kp DOT          &kp FSLH       &none
                                    &mo 1             &kp BACKSPACE   &kp SPACE    &kp RET  &trans           &mo 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp N1   &kp N2  &kp N3  &kp N4  &kp N5        &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &none
&none  &kp TAB  &trans  &trans  &trans  &kp ESCAPE    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &none
&none  &trans   &trans  &trans  &trans  &trans        &trans    &trans    &trans  &trans     &trans  &none
                        &trans  &trans  &trans        &trans    &trans    &mo 3
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp EXCL   &kp AT             &kp HASH          &kp DLLR              &kp PRCNT                &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp MINUS  &kp PLUS  &none
&none  &kp GRAVE  &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp UNDER  &kp EQUAL  &kp LBKT         &kp RBKT   &kp BSLH  &none
&none  &trans     &trans             &kp QUESTION      &trans                &trans                   &trans     &trans     &trans           &trans     &kp PIPE  &none
                                     &trans            &trans                &trans                   &trans     &trans     &trans
            >;
        };

        layer_3 {
            bindings = <
&none  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &none
&none  &kp F11  &kp F12  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &none
&none  &trans   &trans   &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &none
                         &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
